@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=DM+Sans:opsz,wght@9..40,100&family=Kanit:wght@200&family=Rubik+Doodle+Shadow&display=swap");
.bodyy {
	text-align: center;
	background-color: #011f3f;
	margin: 0;
	overflow-x: hidden;
}

#level-title {
	font-family: "Press Start 2P", cursive;
	font-size: 4rem;
	margin-top: 5%;
	color: #fef2bf;
	text-shadow: 4px 4px 4px red;
}

@media (max-width: 888px) {
	#level-title {
		font-size: 5px;
	}
}

.container {
	display: block;
	width: 50%;
	margin: auto;
}

#animated-line {
	width: 100%;
	height: 4px;
	background: linear-gradient(270deg, transparent, #fef2bf, transparent);
	animation: animate 2s infinite;
}

@keyframes animate {
	0% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
	}
}

.btn {
	margin: 25px;
	display: inline-block;
	height: 250px;
	width: 250px;
	border: 10px solid black;
	border-radius: 40%;
}

.game-over {
	background-color: red;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.yellow {
	background-color: yellow;
}

.pressed {
	box-shadow: 0 0 20px white;
	background-color: grey;
}
